/* фон по бокам страницы */
.sectionBg {
  width: 100%;
  background: #556832; /* поменяй цвет */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.contentWrapper {
  max-width: 900px;
  width: 100%;
  padding: 50px 40px;
  max-width: 1280px;
  background-image: url('../../assets/images/img3.jpg'); /* путь к картинке */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.header {
  font-size: 2.5rem;
  color: #556832;
  text-align: center;
  margin-bottom: 40px;
}

.form {
  width: 100%;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.field label {
  font-size: 1.3rem;
}

.field input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 6px;
}

.mainLabel {
  font-size: 1.3rem;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.presenceRow {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.cardYes,
.cardNo {
  border: 1px solid#556832;
  border-radius: 16px;
  padding: 20px;
  width: 320px;
}

.radioLine {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.yesText {
  color: #556832;
  font-size: 1.3rem;
  margin-left: 10px;
}

.noText {
  color: #f44336;
  font-size: 1.3rem;
  margin-left: 10px;
}

.numbers {
  display: flex;
  gap: 10px;
}

.numbers input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #556832;
}

.message textarea {
  width: 100%;
  min-height: 90px;
  border-radius: 10px;
  border: 1px solid #556832;
  padding: 10px;
  margin-top: 8px;
}
.submitBtnWrapper {
  text-align: center;
}
.recurs h3 {
  margin: 10px;
  text-align: center;
  font-size: 1.7rem;
  color: #556832;
}

.submitBtn {
  width: 30%;
  margin-top: 30px;
  padding: 16px;
  font-size: 1.5rem;
  border-radius: 14px;
  border: none;
  background: #556832;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.submitBtn:hover {
  background: #7a9448;
}
