.container {
  flex: 1;
  background: url('../../assets/images/img1.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contextWrapper {
  text-align: center;
  font-family: 'Cormorant', serif;
  color: #272727;
  margin-top: 90px;
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
}
.contextWrapper > h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
  font-family: 'Hind', sans-serif;
}
.contextWrapper > h5 {
  font-size: 1.7rem;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  margin: 10px 0;
}
.andSymbol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.andSymbol > .lineLeft {
  margin-right: 10px;
}

.lineLeft,
.lineRight {
  width: 50px;
  border: none;
  border-top: 2px solid #272727;
}

.andSymbol span {
  font-size: 2rem;
  color: #c47c5d;
  margin: 0 10px;
}

.andSymbol > .lineRight {
  margin-left: 10px;
}

.contextWrapper > h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
  font-family: 'Hind', sans-serif;
}
