.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Планшет */
@media (max-width: 1024px) {
  .container {
    min-height: 60vh;
  }
}

/* Телефон */
@media (max-width: 768px) {
  .container {
    min-height: 50vh;
  }

  .container > img {
    height: 100%;
  }
}
