.container {
  width: 100%;
  padding: 60px 0;
  background-color: #556832;
}

/* два блока рядом */
.contentWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  gap: 40px;
  align-items: stretch; /* делает блоки одинаковой высоты */
  padding: 40px;
  border-radius: 20px; /* luxury стиль */
  background-image: url('../../assets/images/img3.jpg'); /* путь к картинке */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* каждый блок */
.block {
  width: 48%;
  text-align: center;
  padding: 10px 20px;

  display: flex;
  flex-direction: column; /* колонка */
  justify-content: space-between; /* текст сверху, фото внизу */
}

/* заголовок El / Ea */
.block h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 2em;
  text-transform: uppercase;
  color: #9c8484;
  margin-bottom: 5px;
  font-family: 'Cardo', serif;
}

.block h2::before,
.block h2::after {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url('../../assets/images/img4.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
}

/* имя */
.block h3 {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Cardo', serif;
}

/* текст */
.block p {
  font-size: 0.9em;
  line-height: 1.6em;
  color: #9c8484;
  margin-bottom: 20px;
}

/* фото под каждым блоком */
.blockImage {
  width: 100%;
  height: 470px; /* одинаковая высота */
  object-fit: contain; /* НЕ обрезает */
  border-radius: 6px;
  background: #f5f5f5; /* фон если фото меньше */
}
