.sectionBg {
  width: 100%;
  background-color: #556832;
  padding: 60px 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
  font-family: 'Cardo', serif;
  background-image: url('../../assets/images/img3.jpg'); /* путь к картинке */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.header {
  font-size: 2.5rem;
  color: #556832;
  margin-bottom: 20px;
  line-height: 1.1;
}

.quote {
  font-size: 25px;
  font-style: italic;
  color: #111827;
  margin-bottom: 50px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.columnsWrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
  margin: 0 auto 60px;
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 200px;
}

.column h3 {
  font-size: 1.4rem;
  color: #556832;
  margin-bottom: 10px;
}

.column p {
  font-size: 1.4rem;
  color: #1c170e;
  margin: 5px 0;
}

.footerQuote {
  font-size: 25px;
  font-style: italic;
  color: #111827;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-top: 60px;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    font-size: 28px;
  }
  .quote,
  .footerQuote {
    font-size: 18px;
  }
  .row {
    flex-direction: column;
    gap: 30px;
  }
}
