* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #818491;
  text-align: left;
  background-color: #fff;
}

a,
button,
input {
  outline: none;
}
a {
  cursor: pointer;
  color: #121f38;
}

h1 {
  font-size: 60px;
  line-height: 72px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #121f38;
  font-family: 'Cormorant', sans-serif;
}
.h1,
h1 {
  font-size: 2.5rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  vertical-align: middle;
  border-style: none;
}
