.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  box-shadow: none;
  background-color: #7b964a;
  position: fixed !important;
}
.navContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.nav {
  position: relative;
  align-items: center !important;
  flex-direction: row !important;
  display: flex !important;
}
