.container {
  margin-bottom: 0;
  margin-left: auto !important;
  border-radius: 0px;
  border: none;
  z-index: 2;
  display: block;
}
.menu {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
}
.menu > li {
  position: relative;
  display: inline-block;
  list-style: none;
}
.menu li a {
  border-radius: 12px;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  height: 100px;
  line-height: 100px;
}

.menu li a:hover {
  background-color: #c1cfaa;
  opacity: 0.5;
}
